.container {
  border-radius: 12px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 768px;
  padding-top: 30px;
  width: 708px;
  margin: 0 auto;
  margin-top: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.avatar {
  border-radius: 50%;
  width: 350px;
  background-color: rgb(50, 55, 55);
}

.list {
  display: flex;
  width: 100%;
  border-top: 2px solid rgb(151, 156, 156);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 214, 214);
  flex: 1;
  gap: 15px;
  height: 120px;
}

.item:first-child {
  border-bottom-left-radius: 12px;
  border-right: 2px solid rgb(151, 156, 156);
}

.item:last-child {
  border-bottom-right-radius: 12px;
  border-left: 2px solid rgb(151, 156, 156);
}

.name {
  font-size: 60px;
  font-weight: 700;
}

.p {
  font-size: 30px;
  font-weight: 400;
  color: rgb(151, 156, 156);
}

.text {
  font-size: 30px;
}

.num {
  font-size: 30px;
  font-weight: 700;
}
